* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  padding: 25px;
  background: linear-gradient(to right, rgb(215, 255, 85), rgb(0, 165, 115));
}

.title {
  padding: 20px 0 30px 0;
  color: rgb(40, 0, 125);
  text-align: center;
  font-size: 3.5em;
  font-family: "Courier New", Courier, monospace;
}

#first {
  padding: 0 0 0 50px;
  text-decoration: underline;
  font-size: xx-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(150, 5, 45);
}

.second {
  padding: 0 0 25px 50px;
  font-size: larger;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(150, 65, 5);
}

#userinput {
  margin: 10px 10px 30px 30%;
  padding: 15px 10px;
  width: 25%;
  font-size: larger;
  color: rgb(25, 15, 80);
  border-radius: 10px;
}

#enter {
  padding: 10px 15px;
  font-size: larger;
  background: transparent;
  border-radius: 10px;
  border-color: blueviolet;
  border-width: 2.5px;
  cursor: pointer;
  transition: all 0.25s;
}

#enter:hover {
  background-color: rgb(5, 40, 115);
  color: azure;
  border-color: rgb(25, 10, 110);
}

ul {
  width: 100%;
  text-align: center;
  list-style: none;
}

ul li {
  font-size: 1.25em;
  font-family: sans-serif;
  font-weight: bolder;
  padding: 5px;
  color: rgb(131, 79, 24);
  cursor: pointer;
}
